@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oxygen/v15/2sDfZG1Wl4LcnbuKjk0m.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.details {
    color: black;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: Oxygen;
    width: fit-content;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #ffffff 50%, #000000 50%);
    transition: background-position 0.3s ease-in-out, color 0.2s ease-in-out;
}
.details:hover {
    background-color: black;
    background-position: -100% 0;
    color: white;
}
.new-user-link {
    text-decoration: none;
    font-family: Oxygen;
    color: black;
    font-size: 26px;
    padding: 10px;
    width: fit-content;
    transition: 0.2s ease-in-out;   
}
.new-user-link:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}